// font size
$font-size05:0.5rem;
$font-size1:1rem;
$font-size2:2rem;
$font-size3:3rem;
$font-size4:4rem;
$font-size5:5rem;
$font-size6:6rem;
$font-size7:7rem;
// weight
$font-weight100:100;
$font-weight200:200;
$font-weight300:300;
$font-weight400:400;
$font-weight500:500;
$font-weight600:600;
$font-weight700:700;
$font-weight800:800;
$font-weight900:900;
// famely
$roboto: "Roboto", sans-serif;
// rem
$rem05:0.5rem;
$rem1:1rem;
$rem15:1.5rem;
$rem18:1.8rem;
$rem2:2rem;
$rem3:3rem;
$rem4:4rem;
$rem45:4.5rem;
$rem5:5rem;
$rem6:6rem;
$rem7:7rem;
$rem8:8rem;
$rem9:9rem;
$rem10:10rem;
$rem11:11rem;
// colors
$black:#000;
$white:#fff;
$violet:blueviolet;
$gold:gold;
$red:#E19399;
$blue:#3C46FF;