@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
}
header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
header nav a {
  text-decoration: none;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
}
header nav #menu {
  display: none;
}
@media screen and (max-width: 600px) {
  header nav {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
  }
  header nav ul {
    display: none;
  }
  header nav #menu {
    display: block;
    font-size: 30px;
    transition: all 0.4s ease;
  }
  header nav #menu:hover {
    transform: translatey(-4px);
  }
  header nav #menu:active {
    transform: translateY(4px);
  }
}

.hero .hero_box {
  display: flex;
  margin-top: 5rem;
}
.hero h1 {
  color: #ff8a55;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
}
.hero h2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 4.5rem;
  width: 70%;
  letter-spacing: 2px;
}
.hero p {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #555;
  width: 80%;
}
.hero img {
  margin-top: -50px;
}
.hero .btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.hero .btn button {
  padding: 14px 25px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
  margin-top: 1.5rem;
}
.hero .btn p {
  margin-bottom: 2;
}

@media screen and (max-width: 600px) {
  .hero_box {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
    padding: 0 1rem;
  }
  .hero h1 {
    color: #ff8a55;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
  }
  .hero h2 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    letter-spacing: 0;
  }
  .hero p {
    font-size: 1.2rem;
    margin-top: 2rem;
    color: #555;
    width: 90%;
  }
  .hero img {
    margin-top: -50px;
    width: 100%;
  }
  .hero .btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 0;
  }
  .hero .btn button {
    padding: 14px 20px;
    font-size: 15px;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    margin-top: 1.5rem;
    transition: all 0.4s ease;
  }
  .hero .btn button:hover {
    transform: translateY(-4px);
  }
  .hero .btn button:active {
    transform: translateY(4px);
  }
  .hero .btn p {
    font-size: 20px;
    margin-bottom: 0;
    color: #000;
    margin-top: 20px;
    margin-bottom: 2rem;
  }
}
.services_text {
  text-align: center;
  margin-top: 5rem;
}
.services_text h2 {
  color: #f06a76;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.services_text h1 {
  font-size: 4rem;
  width: 70%;
  margin-left: 14rem;
  margin-bottom: 4rem;
}

.services_parent {
  display: flex;
  justify-content: space-around;
  transition: 2s all ease;
  margin-bottom: 2rem;
}
.services_parent .services_box {
  width: 350px;
  overflow: hidden;
  padding: 1rem 2rem;
}
.services_parent .services_box h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.services_parent .services_box h3 {
  color: #555;
  font-weight: 400;
  margin-bottom: 1rem;
}
.services_parent .services_box li {
  margin-bottom: 1rem;
  font-weight: 600;
  margin-left: 1rem;
}
.services_parent .services_box:hover {
  box-shadow: 0px 8px 0px 0px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 601px) {
  .services_text {
    text-align: center;
    margin-top: 5rem;
  }
  .services_text h2 {
    color: #f06a76;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .services_text h1 {
    font-size: 2rem;
    width: 100%;
    margin-left: 0;
    margin-bottom: 4rem;
  }
  .services_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services_parent .services_box {
    width: 90%;
    overflow: hidden;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px #555;
    margin-top: 1rem;
    transition: all 0.4s ease;
  }
  .services_parent .services_box:hover {
    transform: scale(1.05);
  }
  .services_parent .services_box h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .services_parent .services_box h3 {
    color: #555;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  .services_parent .services_box li {
    margin-bottom: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
  }
}
.blog_parent {
  background-color: #000;
  width: 100%;
  height: auto;
  padding: 5rem 5rem;
  display: felx;
}
.blog_parent .Blog-left h3 {
  color: gold;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.blog_parent .Blog-left h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 2rem;
}
.blog_parent .Blog-left p {
  color: #fff;
}
.blog_parent .Blog-left .view {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.blog_parent .Blog-left .view i {
  font-size: 1.5rem;
}
.blog_parent .Blog_box {
  display: flex;
  justify-content: space-between;
}
.blog_parent .Blog-right p {
  color: #999;
  margin-top: 3rem;
  font-size: 1rem;
}
.blog_parent .Blog-right h3 {
  color: #fff;
  font-size: 1.5rem;
  width: 80%;
  margin-top: 2rem;
  letter-spacing: 2px;
  line-height: 1.6;
}
.blog_parent .Blog-right h4 {
  color: #fff;
}
.blog_parent .Blog-right .Blog-left_flex {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 600px) {
  .blog_parent {
    background-color: #000;
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    display: felx;
  }
  .blog_parent .Blog-left h3 {
    color: gold;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .blog_parent .Blog-left h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 2rem;
  }
  .blog_parent .Blog-left p {
    color: #fff;
  }
  .blog_parent .Blog-left .view {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .blog_parent .Blog-left .view i {
    font-size: 1rem;
  }
  .blog_parent .Blog_box {
    display: flex;
    flex-direction: column;
  }
  .blog_parent .Blog-right {
    width: 100%;
  }
  .blog_parent .Blog-right p {
    color: #999;
    margin-top: 3rem;
    font-size: 1rem;
  }
  .blog_parent .Blog-right h3 {
    color: #fff;
    font-size: 1.5rem;
    width: 80%;
    margin-top: 2rem;
    letter-spacing: 2px;
    line-height: 1.6;
  }
  .blog_parent .Blog-right h4 {
    color: #fff;
  }
  .blog_parent .Blog-right .Blog-left_flex {
    display: flex;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
.Trusted {
  text-align: center;
  line-height: 2;
}
.Trusted div {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 40px;
}

.Trusted_text {
  text-align: center;
}

p {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .Trusted {
    text-align: center;
    line-height: 2;
    margin-top: 3rem;
    overflow: auto;
    margin-top: -30px;
  }
  .Trusted div {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 40px;
    box-shadow: 1px -1px 39px 27px rgba(255, 255, 255, 0.75) inset;
    margin-bottom: 50px;
  }
  .Trusted div img {
    width: 170px;
    height: auto;
    margin-top: 2rem;
  }
  .Trusted p {
    font-size: 2rem;
  }
}
.slider {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: 2000px;
  /* Har bir rasm taxminan 250px deb olindi */
  animation: scroll 20s linear infinite;
}

.slider img {
  width: 250px;
  height: auto;
  padding: 0 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
