@use'../variable' as*;

.education {
    margin-top: $rem7;
    display: flex;
    justify-content: space-between;

    .education_box {
        h3 {
            font-size: $font-size2;
            font-weight: $font-weight400;
        }
    }

    .education_text {
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            font-size: $rem18;
            font-weight: $font-weight500;
            margin-top: $rem2;
            margin-bottom: $rem15;
        }

        i {
            margin-top: $rem15;
            font-size: 1.5rem;
        }

        h4 {
            font-size: $rem1;
            margin-top: -15px;
            color: #555;
            font-weight: $font-weight400;
            margin-bottom: 1rem;
        }

        h5 {
            font-size: $rem1;
            margin-top: -15px;
            color: #555;
            font-weight: $font-weight400;
        }
    }
}

@media screen and (max-width:600px) {

    .education {
        margin-top: $rem7;
        display: flex;
        flex-direction: column;
        .education_box {
            margin-top: 6rem;
            h3 {
                font-size: $font-size2;
                font-weight: $font-weight400;
            }
        }

        .education_text {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin-left: 1rem;

            p {
                font-size: $rem18;
                font-weight: $font-weight500;
                margin-top: $rem2;
                margin-bottom: $rem15;
            }

            i {
                margin-top: $rem15;
                font-size: 1.5rem;
            }

            h4 {
                font-size: $rem1;
                margin-top: -15px;
                color: #555;
                font-weight: $font-weight400;
                margin-bottom: 1rem;
            }

            h5 {
                font-size: $rem1;
                margin-top: -15px;
                color: #555;
                font-weight: $font-weight400;
            }

        }
           img{
                width: 100%;
            }
    }
}