@use'../variable' as*;

.Trusted {
    text-align: center;
    line-height: 2;

    div {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        gap: 40px;
    }

}

.Trusted_text{
    text-align: center;
}
p {
    font-size: $rem2;
}

@media screen and (max-width:600px) {

    .Trusted {
        text-align: center;
        line-height: 2;
        margin-top: $rem3 ;
        overflow: auto;
        margin-top: -30px;
        div {
            display: flex;
            align-items: center;
            margin-top: 2rem;
            gap: 40px;
            box-shadow: 1px -1px 39px 27px rgba(255, 255, 255, 0.75) inset;
            margin-bottom: 50px;

            img {
                width: 170px;
                height: auto;
                margin-top: 2rem;
            }
        }

        p {
            font-size: $rem2;
        }
    }
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slider-track {
    display: flex;
    width: calc(250px * 8);
    /* Har bir rasm taxminan 250px deb olindi */
    animation: scroll 20s linear infinite;
}

.slider img {
    width: 250px;
    height: auto;
    padding: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}